$accent-color: #FF6B01;
$primary-white-color: #ffffff;
$secondary-white-color: #F7F7F7;
$primary-text-color: #000000;
$secondary-text-color: #8C8C8C;
$footer-text-color: #545454;
$alert-color: #FF001B;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);